<h2>Listado de Productos</h2>

<div class="containerFormProd">


    <form id="form">
        <p>Agregar un producto</p>
        <label>Producto:</label><input type="text" name="title" id="title">
        <label>Descripcion:</label><input type="text" name="description" id="description">
        <label>Precio:</label><input type="number" name="price" id="price">
        <label>Codigo:</label><input type="text" name="code" id="code">
        <label>Stock:</label><input type="number" name="stock" id="stock">
        <label>Categoria:</label><input type="text" name="category" id="category">
        <input type="submit" value="Enviar">
    </form>

    <div id="products"></div>

</div>

<script src="socket.io/socket.io.js"></script>
<script src="index.js"></script>