<div class="containerLogin">
    <h1>REGISTRO DE USUARIO</h1>

    <form action="/register" method="post">
        Nombre <input type="text" name="first_name" id="first_name"/>
        Apellido <input type="text" name="last_name" id="last_name"/>
        Email <input type="email" name="email" id="email"/>
        Edad <input type="number" name="age" id="age"/>
        Contraseña <input type="password" name="password" id="password"/>

        <input class="registerSubmit" type="submit" value="Finalizar Registro">

    </form>

</div>