<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/chat.css">
    <title>MAIN HANDLEBARS</title>
</head>
<body>

    <header class="mainHeader">

        <ul>
            <li><a href="/products">PRODUCTOS</a></li>
        </ul>

            <a class="login" href="/login">INICIAR SESION</a>
            <a class="logout" href="/logout">CERRAR SESION</a>


    </header>


    {{{body}}}

</body>
</html>